<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">

        {% if title %}
        <title>Dignity to the Dead - {{title}}</title>
        {% else %}
        <title>Dignity to the Dead</title>
        {% endif %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    </head>
    <body>

        {% with messages=get_flashed_messages(with_categories=True)%}
            {% if messages %}
                {% for category,messages in messages %}
                    <div class="alert alert-{{category}}">
                        {{messages}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
        </div>

        <!--Bootstrap JS-->
        

    </body>
</html>